.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px rgb(240, 17, 17);
    margin-top: 250px;
    margin-left: 300px;
  }
  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
  }

  #score{
    position: absolute;
    margin-top: 120px;
    margin-left: 520px;
    color: aquamarine;
  }

  body{
    position: absolute;
    background-color: black;
  }

  #Game{
    position: absolute;
    margin-left: 500px;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(57, 164, 164);
  }
  